
#__next{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex:1 0 auto
}

.navbar{
    height: 70px;
    background-color: aqua;
}

.footer{
    background-color: bisque;
    height: 70px;
}